<main>
  <h1>Welcome to 3D Print Manager</h1>
  {{outlet}}  <!-- This is where content from other routes (like 'home') will be rendered -->
</main>

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>

<footer>
  <p>&copy; 2024 3D Print Manager</p>
</footer>
