<main>
  <header>
    <h1>Welcome to 3D Print Manager</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/live">Live</a></li>
        <li><a href="/models">Models</a></li>
      </ul>
    </nav>
  </header>

  {{outlet}} <!-- This is where content from other routes (like 'home') will be rendered -->

  <section>
    <h2>Current Print Details</h2>
  </section>

  <section>
    <h2>Add New Project</h2>
    <form>
      <div>
        <label for="projectName">Name:</label>
        <input id="projectName" type="text" />
      </div>
      <div>
        <label for="materialType">Material Type:</label>
        <select id="materialType">
          <option value="PLA">PLA</option>
          <option value="PTG">PTG</option>
        </select>
      </div>
      <div>
        <label for="uploadModel">Upload Model:</label>
        <input id="uploadModel" type="file" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </section>

  <section>
    <h2>Project List</h2>
    <table>
      <thead>
        <tr>
          <th>Model</th>
          <th>Name</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add project rows here -->
      </tbody>
    </table>
  </section>

  <section>
    <h2>Add New Material</h2>
    <AddMaterial />
  </section>

  <section>
    <h2>Material List</h2>
    <MaterialList />
  </section>

  <h2>Upload a 3D Model</h2>
    <form {{on "submit" this.uploadModel}}>
        <label for="stlFile">Choose a file:</label>
        <input type="file" id="stlFile" accept=".stl" {{on "change" this.handleFileChange}} />
        <button type="submit">Upload</button>
    </form>

  <section>
    <UploadModel />
  </section>
</main>

<footer>
  <p>&copy; 2024 3D Print Manager</p>
</footer>